$primary: #0091EA;
$secondary: #00BFA5;
$tertiary: #8A9DAB;

$background: #ECEFF1;
$background--dark: #000000;

$foreground: #CFD8DC;
$foreground--dark: #424242;

$inactive: #859EAD;
$placeholder: #546E7A;
$danger: #F50057;
